[flake8]
exclude = 
    .venv,
    tests/*,
    __init__.py,
    assets.py
ignore = 
    E501,    
    W503,    
    W0603,   
    F401,    
    E111,    
    WPS306,  
    F821     
max-line-length = 200